Reza Mosavi 400222100

In [6]:
import numpy as np
import pandas as pd

In [7]:
temperaturesDataset = pd.read_csv("tempratures.csv")
temperaturesDataset = temperaturesDataset.values
temperaturesDataset

array([['2022-01-01', 'New York', 0.5],
       ['2022-01-01', 'Los Angeles', 20.5],
       ['2022-01-01', 'Miami', 24.7],
       ['2022-01-02', 'New York', 2.3],
       ['2022-01-02', 'Los Angeles', 18.4],
       ['2022-01-02', 'Miami', 22.9],
       ['2022-01-03', 'New York', 4.8],
       ['2022-01-03', 'Los Angeles', 15.9],
       ['2022-01-03', 'Miami', 21.2],
       ['2022-01-04', 'New York', 3.2],
       ['2022-01-04', 'Los Angeles', 16.1],
       ['2022-01-04', 'Miami', 23.5],
       ['2022-01-05', 'New York', -1.9],
       ['2022-01-05', 'Los Angeles', 22.8],
       ['2022-01-05', 'Miami', 20.1],
       ['2022-01-06', 'New York', -2.1],
       ['2022-01-06', 'Los Angeles', 23.5],
       ['2022-01-06', 'Miami', 25.3],
       ['2022-01-07', 'New York', 1.3],
       ['2022-01-07', 'Los Angeles', 20.3],
       ['2022-01-07', 'Miami', 21.8],
       ['2022-01-08', 'New York', 4.2],
       ['2022-01-08', 'Los Angeles', 19.7],
       ['2022-01-08', 'Miami', 22.4],
       ['2022-01-09', 'New York', 5.8],
       ['2022-01-09', 'Los Angeles', 18.8],
       ['2022-01-09', 'Miami', 20.5],
       ['2022-01-10', 'New York', -1.1],
       ['2022-01-10', 'Los Angeles', 22.1],
       ['2022-01-10', 'Miami', 23.1],
       ['2022-01-11', 'New York', -4.6],
       ['2022-01-11', 'Los Angeles', 21.2],
       ['2022-01-11', 'Miami', 25.8],
       ['2022-01-12', 'New York', -7.3],
       ['2022-01-12', 'Los Angeles', 24.4],
       ['2022-01-12', 'Miami', 22.6],
       ['2022-01-13', 'New York', -2.4],
       ['2022-01-13', 'Los Angeles', 20.1],
       ['2022-01-13', 'Miami', 19.7],
       ['2022-01-14', 'New York', 1.5],
       ['2022-01-14', 'Los Angeles', 21.5],
       ['2022-01-14', 'Miami', 20.2],
       ['2022-01-15', 'New York', 2.1],
       ['2022-01-15', 'Los Angeles', 18.6],
       ['2022-01-15', 'Miami', 21.5],
       ['2022-01-16', 'New York', -0.9],
       ['2022-01-16', 'Los Angeles', 23.8],
       ['2022-01-16', 'Miami', 23.9],
       ['2022-01-17', 'New York', -2.7],
       ['2022-01-17', 'Los Angeles', 21.3],
       ['2022-01-17', 'Miami', 25.3]], dtype=object)

In [8]:
temperaturesDataset.shape

(51, 3)

In [24]:
new_york = temperaturesDataset[temperaturesDataset[:,1] == "New York"][:,2].mean()
miami = temperaturesDataset[temperaturesDataset[:,1] == "Miami"][:,2].mean()
los_angeles = temperaturesDataset[temperaturesDataset[:,1] == "Los Angeles"][:,2].mean()

print(new_york)
print(miami)
print(los_angeles)

0.15882352941176472
22.61764705882353
20.529411764705884

In [25]:
new_york = temperaturesDataset[temperaturesDataset[:,1] == "New York"][:,2].max()
miami = temperaturesDataset[temperaturesDataset[:,1] == "Miami"][:,2].max()
los_angeles = temperaturesDataset[temperaturesDataset[:,1] == "Los Angeles"][:,2].max()

print(new_york)
print(miami)
print(los_angeles)

5.8
25.8
24.4